body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form {
    width: 400px;
    padding: 50px;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
    text-align: center;
    margin: 20px 0px;
}

.form input[type="text"], .form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.form .gender {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form button, .button-style {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.form button:hover, .button-style {
    background-color: #f00;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4cm;
    height: 4cm;
}

