<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="" th:href="@{/AdminRegister.css}">
    <style>
	.center {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 4cm;
	  height: 4cm;
	}
	</style>
    
</head>
<body>
	

    <div class="form">
    <br><br>
    <a href="http://localhost:7007" class="button-style">Back</a>
	<h2>Admin Register</h2>
	<br>
	<img src="https://cdn-icons-png.flaticon.com/128/1056/1056593.png" class="center">
	<br><br>	 
	<form th:action="@{/adminRegister}"th:object="${adminModel}"method="post">
	<input type="text"name=""th:field="*{adminname}"placeholder="Username"><br>
	<input type="text"name=""th:field="*{fullname}"placeholder="Full Name"><br>
	<input type="text"name=""th:field="*{mobilenumber}"placeholder="Mobile Number"><br>
	<input type="text"name=""th:field="*{email}"placeholder="Email"><br>
	<input type="password"name=""th:field="*{password}"placeholder="Password"><br>
	<div class="gender">
	<div><input type="radio"name="gender"value="male"required>Male</div>
	<div><input type="radio"name="gender"value="female"required>Female</div>
	<div><input type="radio"name="gender"value="other"required>Other</div>
	</div>
	<button type="submit">Sign Up</button>
	</form>
    </div>
	    
</body>

</html>
