<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
     <link rel="stylesheet" href="" th:href="@{/home.css}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
     

</head>
<body>
    
    
    <header>
        <nav>
            <div >
                
                <a href="/adminRegister">New Admin</a>
                <a href="/adminLog">Existing Admin</a>
                <a href="/userRegistration">New User</a>
                <a href="/userLog">Existing User</a>
                <a href="contact">Contact</a>
                <a href="nextDonationDate">When I Can Donate</a>
            </div>
        </nav>
    </header>
    
    	

        <div class="text">
            <br>          
            
            <img src="https://cdn-icons-png.flaticon.com/512/2069/2069830.png" alt="Description of the image" style="width: 4cm; height: 4cm;">
			 <h1 style="background-color: white; opacity: 0.7;">BLOOD BANK <br> <span>DONOR MANAGEMENT SYSTEM</span></h1>
	
            
            <a href="/userRegistrationt" class="btn" style="background-color: red; color: white;">Donate Now <i class="fas fa-tint"></i></a>

        </div>
       



</body>
</body>
</html>

